{% extends "base.html" %}
{% block body %}
<div style="padding:20px;">
  <h3>This is about us page</h3>
  <p>Farmer Merchant Integration is a web-based platform
  developed to conecct farmers directly with merchants
  The main objective  is to reduce the role of middlemen
  and ensure fair pricing for farmers.</p>
  <p> This system helps farmers in booking cold storage, managing
    products and getting better market access. Marchants can easily
    search and purchase fresh agricultural products through this
    platform </p>
</div>

{% endblock body %}