{% extends "base.html" %}
{% block body %}
 <h4 style="text-align:center;color:blue">
  Merchant Registration Form
 </h4>
{% if msg %}
    <p style="text-align:center;">{{msg}}</p>
{% endif %}
 <form action="{% url 'mreg' %}" method="post">
     {% csrf_token %}
  <div class="row py-2">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Enter Firm Owner Name</label>
         <input type="text" name="name" required="true" class="form-control"/>
      </div>
     <div class="form-group">
       <label>Select Gender</label><br/>
       <input type="radio" name="gender" value="Male"/> Male
       <input type="radio" name="gender" value="Female"/> Female
     </div>
     <div class="form-group">
       <label>Enter Firm Name</label>
       <input type="text" name="firmname" required="true" class="form-control"/>
     </div>
     <div class="form-group">
       <label>Enter Firm Address</label>
       <textarea name="firmaddress" class="form-control"></textarea>
     </div>
     <div class="form-group">
      <label>Enter Contact No</label>
      <input type="number" name="contactno" required="true" class="form-control"/>
     </div>
     <div class="form-group">
      <label>Enter Email Address</label>
      <input type="email" name="emailaddress" required="true" class="form-control"/>
     </div>
     <div class="form-group">
      <label>Enter Aadhar No</label>
      <input type="number" name="aadharno" required="true" class="form-control"/>
     </div>
     <div class="form-group">
      <label>Enter PAN No</label>
      <input type="text" name="panno" required="true" class="form-control"/>
     </div>
     <div class="form-group">
      <label>Enter GST No</label>
      <input type="text" name="gstno" required="true" class="form-control"/>
     </div>
     <div class="form-group">
      <br/>
      <input type="submit" value="Register" class="btn btn-info"/>
     </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
 </form>
{% endblock body %}